<% layout('/layouts/boilerplate') %>
    <h3 class="listing-title">Our Exclusive Stays</h3>

    <!-- <form action="/listings/new">
        <button>Create New Post</button>
    </form> -->

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% for (let listing of allListing) { %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="Error loading image" style="height: 10rem; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
            </h5>
            <p class="card-text"><%= listing.description %></p>
            <a href="/listings/<%= listing._id %>" class="explore btn btn-primary">Explore</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>

</div>